<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard de Administrador</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container text-right">
                <div class="row">
                    <div class="col">
                        <h3>Dashboard de Administrador</h3>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-danger">
                            Cerrar sesion
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            <div class="row">
                <div class="container col-md-2 lateral-dash">
                    <h1>Opciones</h1>
                    <br>
                    <br>
                    <a class="btn btn-primary boton-menu" asp-page="./Admin">Home</a><br><br>
                    <a class="btn btn-primary boton-menu" asp-page="./Empresas/ListaEmpresas">Gestion de empresas</a><br><br>
                    <a class="btn btn-primary boton-menu" asp-page="./Empleados/List">Gestion de empleados</a><br><br>
                    <a class="btn btn-primary boton-menu" asp-page="./Clientes/ListaClientes">Gestion de clientes</a><br><br>
                    <a class="btn btn-primary boton-menu" asp-page="./Directivos/ListaDirectivos">Gestion de empleados directivos</a><br>
                </div>
                <div class="container col-md-10">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <h5>Desarrollado por Team D Desarrolladores - 2021 &copy;</h5>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/50ff11670d.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>